@font-face{
	font-family: 'SourceSansPro-Light';
	src: url('../fonts/SourceSansPro-Light/SourceSansPro-Light.eot');
	src: url('../fonts/SourceSansPro-Light/SourceSansPro-Light.eot?iefix') format('eot'),
	url('../fonts/SourceSansPro-Light/SourceSansPro-Light.woff') format('woff'),
	url('../fonts/SourceSansPro-Light/SourceSansPro-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face{
	font-family: 'SourceSansPro-Regular';
	src: url('../fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot');
	src: url('../fonts/SourceSansPro-Regular/SourceSansPro-Regular.eot?iefix') format('eot'),
	url('../fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff') format('woff'),
	url('../fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face{
	font-family: 'SourceSansPro-Semibold';
	src: url('../fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.eot');
	src: url('../fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.eot?iefix') format('eot'),
	url('../fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.woff') format('woff'),
	url('../fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
}

@font-face{
	font-family: 'SourceSansPro-Bold';
	src: url('../fonts/SourceSansPro-Bold/SourceSansPro-Bold.eot');
	src: url('../fonts/SourceSansPro-Bold/SourceSansPro-Bold.eot?iefix') format('eot'),
	url('../fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff') format('woff'),
	url('../fonts/SourceSansPro-Bold/SourceSansPro-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}
@font-face{
	font-family: 'icomoon';
	src: url('../fonts/icomoon/icomoon.eot');
	src: url('../fonts/icomoon/icomoon.eot?iefix') format('eot'),
	url('../fonts/icomoon/icomoon.woff') format('woff'),
	url('../fonts/icomoon/icomoon.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}

