$grey: #505050;
$light_gray: rgba(80, 80, 80, 0.2);
$gold: #efd8a9;
$red: #e9242d;
$validation-red: #c30012;
$blue: #3a4185;
$green: #affadb;
$light_green: rgba(175, 250, 219, 0.2);
$black: #000;
$text-shadow: #b1b1b1;
$stat-text-color: #3e843a;
$white: #ffffff;
$header-background: #fafafa;
$orange: #f27e00;
$blue-link-color: #2a3eff;
$green-square: #affadb;

$SSP: 100% 'SourceSansPro-Regular', sans-serif;
$SSP-Bold: 100% 'SourceSansPro-Bold', sans-serif;
$SSP-Semibold: 100% 'SourceSansPro-Semibold', sans-serif;
$SSP-Light: 100% 'SourceSansPro-Light', sans-serif;
$ico:100% 'icomoon';

$left-sidebar-width: 17%;
$right-column-width: 83%;
$top-menu-height: 50px;